@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        scroll-behavior: smooth;
    }

    body {
        font-family: 'Noto Sans', sans-serif;
        background-color: #0F0F13;
    }

    button, .nav-icon {
        cursor: pointer;
    }
}

@layer components {
    .nav-icon {
        @apply cursor-pointer w-[1.38rem] h-[1.38rem] rounded-sm text-iconColor transition-all duration-100 ease-in-out hover:text-white xl:w-6 xl:h-6
    }

    .storyCard-container {
        @apply cursor-pointer relative rounded-full w-16 h-16 sm:w-20 sm:h-20 lg:w-24 lg:h-36 xl:w-[7.4rem] xl:h-48 2xl:w-36 2xl:h-52
    }

    .storyCard-overlay {
        @apply absolute w-full h-full rounded-full lg:rounded-md px-2 py-4 flex flex-col justify-between bg-black/50 transition-all duration-200 ease-in-out hover:bg-black/20
    }
}