/*base layer --> is for things like reset rules or default styles applied to plain HTML elements.*/

/*components layer --> is for class-based styles that you want to be able to override with utilities.*/

/*utilities layer --> is for small, single-purpose classes that should always take precedence over any other styles.*/

/* Reset */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        color-scheme: dark light;
    }

    *, *::before, *::after {
        box-sizing: border-box;
    }

    * {
        /*font: inherit;*/
        margin: 0;
        padding: 0;
    }

    body {
        min-height: 100vh;
    }

    img, picture, svg, video {
        display: block;
        max-width: 100%;
    }

    input, textarea, button, select {
        font: inherit;
    }
}

@layer components {
    .nav-icon {
        @apply cursor-pointer text-tertiary w-7 h-7 rounded-xl
    }
}
